.deviot-title {
  display: flex;
  justify-content: space-between;

  button {
    margin-right: 20px;
  }
}

.deviot-logo {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}
