<app-title></app-title>
<div class="deviot-container">
  <mat-toolbar>
    <span>EDITAR USUÁRIO</span>
  </mat-toolbar>
  <form novalidate [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline" class="deviot-form-username">
      <mat-label>Nome de usuário</mat-label>
      <input matInput formControlName="userName" />
      <mat-error *ngIf="form.controls['userName'].hasError('required')">
        O campo nome de usuário é requerido.
      </mat-error>
      <mat-error *ngIf="form.controls['userName'].hasError('minlength')">
        O campo nome de usuário precisa ter no mínimo 3 caracteres.
      </mat-error>
      <mat-error *ngIf="form.controls['userName'].hasError('maxlength')">
        O campo nome de usuário precisa ter no máximo 30 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="deviot-form-fullname">
      <mat-label>Nome completo</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="form.controls['fullName'].hasError('required')">
        O campo nome completo é requerido.
      </mat-error>
      <mat-error *ngIf="form.controls['fullName'].hasError('minlength')">
        O campo nome completo precisa ter no mínimo 3 caracteres.
      </mat-error>
      <mat-error *ngIf="form.controls['userName'].hasError('maxlength')">
        O campo nome completo precisa ter no máximo 100 caracteres.
      </mat-error>
    </mat-form-field>
    <div class="deviot-bt-enabled">
      <mat-slide-toggle
        color="primary"
        [checked]="enabled"
        (change)="enabled = !enabled"
      >
        {{ enabled ? "Habilitado" : "Desabilitado" }}
      </mat-slide-toggle>
    </div>
    <div class="deviot-bt-enabled">
      <mat-slide-toggle
        color="primary"
        [checked]="administrator"
        (change)="administrator = !administrator"
      >
        {{ administrator ? "Administrador" : "Não é administrador" }}
      </mat-slide-toggle>
    </div>
    <div class="deviot-bottom">
      <button mat-stroked-button color="basic" [routerLink]="['/user']">
        CANCELAR
      </button>
      &nbsp; &nbsp;
      <button mat-flat-button color="primary" type="submit">SALVAR</button>
    </div>
  </form>
</div>
