form {
  margin-top: 20px;
}

.deviot-form-username {
  width: 100%;
}

.deviot-form-fullname {
  width: 100%;
}

.deviot-form-password {
  width: 30%;
}

.deviot-form-confirm-password {
  width: 30%;
}

.deviot-bt-enabled {
  margin-bottom: 20px;
}
