<app-title></app-title>
<div class="deviot-container">
  <mat-toolbar>
    <span>VISUALIZAR USUÁRIO</span>
  </mat-toolbar>
  <div class="deviot-data">
    <p><b>Id:</b> {{ user?.id | uppercase }}</p>
    <p><b>Nome de usuário:</b> {{ user?.userName | uppercase }}</p>
    <p><b>Nome completo:</b> {{ user?.fullName | uppercase }}</p>
    <p>
      <b>Status:</b>
      {{ (user?.enabled ? "Habilitado" : "Desabilitado") | uppercase }}
    </p>
    <p>
      <b>Tipo de usuário:</b>
      {{ (user?.administrator ? "Administrador" : "Normal") | uppercase }}
    </p>
  </div>
  <div class="deviot-bottom">
    <button mat-stroked-button color="basic" [routerLink]="['/user']">
      VOLTAR
    </button>
  </div>
</div>
